<?xml version="1.0" encoding="utf-8" ?>
<ThumnailsService>
  <add key="ServiceName" value="ServicePlandokumentThumnails" />
  <add key="ServiceDisplayName" value="Plandokument Thumnails Service" />
  <add key="ServiceDescription" value="Skapar tumnagelbilder (Thumnails) av plankartornas tiff-bilder" />
</ThumnailsService>