<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- 
      Windows Service som bevakar katalog för förändringar av tif-filer. Skapar därefter två kopier av tif-bilderna.
      Kopierna är i formatet jpeg (*.jpg och koprimerade till 75%). Filerna får suffix _thumnail-s och _thumnail-l.
      _thumnail-s: s = stor, längsta sidan är 2000 px.
      _thumnail-l: l = liten, längsta sidan är 150 px.
      Hanterar ej underkataloger.
      -->
      <!-- WatchFolder = katalogen som bevakas för tif-filer -->
      <add key="WatchedFolder" value="C:\dev\plandokument\web\src\plandokument\geotiff"/>
      <!-- ThumnailsFolder = katalogen som kopierna skapas i -->
      <add key="ThumnailsFolder" value="C:\dev\plandokument\web\src\plandokument\ThumnailsPlankarta"/>
    </appSettings>
</configuration>