<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ERROR, fungerar ej - Ytterligare extern konfgurationsfil för delning av inställningar mellan projekt -->
  <!--<configSections>
    <section name="ThumnailsService" type="Plan.WindowsService.ThumnailsService, Plan.WindowsService"/>
  </configSections>
  <ThumnailsService>
    <serviceName value="ServicePlandokumentThumnails" />
    <serviceDisplayName value="Plandokument Thumnails Service" />
    <serviceDescription value="Skapar tumnagelbilder (Thumnails) av plankartornas tiff-bilder" />
  </ThumnailsService>-->
  <!--<ThumnailsService configSource="ThumnailsService.config" />-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="serviceName" value="ServicePlandokumentThumnails" />
    <add key="serviceDisplayName" value="Plandokument Thumnails Service" />
    <add key="serviceDescription" value="Skapar tumnagelbilder (Thumnails) av plankartornas tiff-bilder" />
    <add key="logEventSource" value="Plandokument Thumnails Service" />
    <add key="logName" value="Plandokument Thumnails Service" />
    <!-- 
      Windows Service som bevakar katalog för förändringar av tif-filer. Skapar därefter två kopier av tif-bilderna.
      Kopierna är i formatet jpeg (*.jpg och koprimerade till 75%). Filerna får suffix _thumnail-s och _thumnail-l.
      _thumnail-s: s = stor, längsta sidan är 2000 px.
      _thumnail-l: l = liten, längsta sidan är 150 px.
      Hanterar ej underkataloger.
      -->
    <!-- WatchFolder = katalogen som bevakas för tif-filer -->
    <add key="WatchedFolder" value="C:\dev\plandokument\web\src\plandokument\geotiff" />
    <!-- ThumnailsFolder = katalogen som kopierna skapas i -->
    <add key="ThumnailsFolder" value="C:\dev\plandokument\web\src\plandokument\ThumnailsPlankarta" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>