
.doc-file {background-image: url('../pic/doc.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.docx-file {background-image: url('../pic/docx.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.dwg-file {background-image: url('../pic/dwg.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.dxf-file {background-image: url('../pic/dxf.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.gif-file {background-image: url('../pic/gif.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.jpg-file {background-image: url('../pic/jpg.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.katalog-file {background-image: url('../pic/katalog.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.mdb-file {background-image: url('../pic/mdb.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.msg-file {background-image: url('../pic/msg.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.no-file {background-image: url('../pic/no03-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em; color: rgb(125,125,125);}
.null-file {background-image: url('../pic/null.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.one-file {background-image: url('../pic/one.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.pdf-file {background-image: url('../pic/pdf.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.png-file {background-image: url('../pic/png.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.ppt-file {background-image: url('../pic/ppt.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.pptx-file {background-image: url('../pic/pptx.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.tif-file {background-image: url('../pic/tif.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.txt-file {background-image: url('../pic/txt.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.xls-file {background-image: url('../pic/xls.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.xlsx-file {background-image: url('../pic/xlsx.png'); background-repeat: no-repeat; background-position-y: 0.2em;}

.doc-bw-file {background-image: url('../pic/doc-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.docx-bw-file {background-image: url('../pic/docx-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.dwg-bw-file {background-image: url('../pic/dwg-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.dxf-bw-file {background-image: url('../pic/dxf-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.gif-bw-file {background-image: url('../pic/gif-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.jpg-bw-file {background-image: url('../pic/jpg-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.katalog-bw-file {background-image: url('../pic/katalog-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.mdb-bw-file {background-image: url('../pic/mdb-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.msg-bw-file {background-image: url('../pic/msg-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.no-bw-file {background-image: url('../pic/no03-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em; color: rgb(125,125,125);}
.null-bw-file {background-image: url('../pic/null-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.one-bw-file {background-image: url('../pic/one-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.pdf-bw-file {background-image: url('../pic/pdf-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.png-bw-file {background-image: url('../pic/png-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.ppt-bw-file {background-image: url('../pic/ppt-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.pptx-bw-file {background-image: url('../pic/pptx-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.tif-bw-file {background-image: url('../pic/tif-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.txt-bw-file {background-image: url('../pic/txt-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.xls-bw-file {background-image: url('../pic/xls-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}
.xlsx-bw-file {background-image: url('../pic/xlsx-bw.png'); background-repeat: no-repeat; background-position-y: 0.2em;}