body {
	font: 62.5% "Trebuchet MS", sans-serif;
    line-height: 2.6;
}

a, a:visited, a:hover {
    color: blue;
}

    a:hover {
        text-decoration: underline;
    }

#versionWrapper {
    position: fixed;
    top: 0em;
    right: 1em;
    color: inherit;
    color: rgb(150,150,150);
}
    #versionWrapper a {
        text-decoration: underline;
    }

#feedback {
    position: fixed;
    right: 0px;
    /*top: 300px;*/
    top: 45%;
    cursor: pointer;
}

    #feedback img {
        display: block;
        width: 40px;
        height: 40px;
        top: -40px;
    }

#copyrightWrapper {
    position: fixed;
    right: 1em;
    bottom: 0em;
    text-decoration: none;
    color: rgb(160,160,160);
}

.linkNewWindow {
    display: inline-block;
    background-image: url('../css/jquery-ui-1.10.3-smoothness/images/ui-icons_222222_256x240.png');
    background-position: -32px -80px;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
    left: 2px;
}