<?xml version="1.0" encoding="utf-8" ?>
<ThumnailsService>
  <add key="ServiceName" value="ServicePlandokumentThumbnails" />
  <add key="ServiceDisplayName" value="Plandokument Miniatyrbilder Administrering" />
  <add key="ServiceDescription" value="Skapar miniatyrbilder (thumbnails/tumnagelbilder) av plankartornas tiff-bilder" />
  <add key="WatchedFolder" value="C:\dev\plandokument\src\web\plandokument\geotiff" />
  <add key="ThumnailsFolder" value="C:\dev\plandokument\src\web\plandokument\auto-miniatyrbild-plankarta" />
</ThumnailsService>