<?xml version="1.0" encoding="utf-8" ?>
<ThumnailsService>
  <add key="ServiceName" value="ServicePlandokumentThumnails" />
  <add key="ServiceDisplayName" value="Plandokument Thumnails Service" />
  <add key="ServiceDescription" value="Skapar tumnagelbilder (Thumnails) av plankartornas tiff-bilder" />
  <add key="WatchedFolder" value="C:\dev\plandokument\web\src\plandokument\geotiff" />
  <add key="ThumnailsFolder" value="C:\dev\plandokument\web\src\plandokument\ThumnailsPlankarta" />
</ThumnailsService>